html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
    /* overwritten by sections' background-color
    Background pattern from Subtle Patterns 
	background-image: url(../img/shattered/shattered_@2X.png);*/
	font-family: 'Open Sans Condensed', sans-serif;
}

/* --- margins, paddings, decorations for headings, etc --- */

*,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
    background-color: #F3F3F3;
}

.content-wrap{
    padding-bottom: 2.5em;
}

a
{
    text-decoration: none;
}

/* --- HEADER --- */

.header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(60px + 1em);
	background-color: white;
    box-shadow: 0 0 2em -1em rgba(0,0,0,0.75);
    z-index: 10;

}

.header > .container {
    display: flex;
    justify-content: space-between;
    max-width: 63.25em;
    padding: 1em;
    margin: auto;
}

@media screen and (max-width: 63.25em) {
    .header > .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.logo {
    cursor: pointer;
}

a.logo__dance {
    text-decoration: none;
    font-size: 24px;
	font-weight: 300;
	color: #555;
}
span.logo__love {
    font-size: 28px;
    font-weight:600;
    text-transform:uppercase;
    color: #ffa500;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em;
    text-align: center;
}

.items {
    margin: 0 0.5em;
    font-weight: bold;
    color:#3f3f3f;
    padding: 10px 0.5em 10px 0.5em;
    border-radius: 1em;
    transition: 0.5s;
}

.items:hover {
    background-color: #ffa500;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}

.itemsReg {
    display: block;
    border: 1px solid #ffa500;
    padding: 10px 0.5em 10px 0.5em;
    background-color:#ffa500;
    color:white;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 600;
    border-radius: 1em;
}

.itemsReg:hover {
    background: none;
    color: #3f3f3f;
    cursor: pointer;
}

.dance-text {
    margin: auto;
    max-width: 30ch;
    font-size: 36px;
    cursor: pointer;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, #3f3f3f 50%, #ff4000 50%, #ffa500);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s ease-out;
    user-select: none;
}

.dance-text:hover
{
    background-position:-100%; 
}

/* --- MAIN --- */

.main {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: calc(60px + 1em);
    background-color: #F3F3F3;
}

.background-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* padding-bottom: 6em; */
    text-align: center;

}

.background-container {
    min-height: calc(100vh - 60px - 1em);
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    background-image: url(../img/backgrounds/gosciu.png);

    background-image: linear-gradient(to right,rgba(45, 18, 82, .8), rgba(255, 132, 16, .8)), url(../img/backgrounds/gosciu.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;

}

.background-container h2{
    font-size: 4em;
    font-weight: bold;
    line-height: 1.25;
}

.background-container span {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: normal;
    font-family: 'Open Sans Condensed', serif;
    line-height: 1.5;
    margin-bottom: 1em;
}

/* scrollbar - circle */

.background-container a {
    position: relative;
    width: 3em;
    height: 3em;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 50%;
    cursor: pointer;
    
}

/* scrollbar - lines */

.background-container a::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    transform: rotate(-45deg);
    margin: -12px 0 0 -8.4px;
    border-left: 1.5px solid white;
    border-bottom: 1.5px solid white;
    transition: 0.5s;
    
}

.background-container a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 50%;
    opacity: 0;
    animation: circle 3s infinite;
    z-index: 0;
}

@keyframes circle {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.background-container a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transition: 0.5s;
}

.section {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #F3F3F3;
}



.main-section, .contact-section, .zapis-section {
    padding: 6em 0;
}


.section:nth-child(odd){
    background-color: #FFF;
}


.section-shattered, .shattered {
    background-image: url(../img/shattered/shattered_@2X.png);
    background-size: cover;
}


.section > .container {
    width: 100%;
    max-width: 63.25em;
    margin: auto;
}

@media screen and (max-width: 63.25em) {
    .section {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .section > .container {
        /* width: 100%; */
    }
}

.section ul {
    list-style: none;
    display: inline-block;
    text-align: left;
}

.section > h2 {
    text-align: center;
    color: #3f3f3f;
    font-size: 24px;
    
    
}

.section li {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 2;
    color: #515151;
}

.skills li::before, .moreover li::before {
    display: block;
    content: "";
    position: relative;
    top: 1.5em;
    left: -1.5em;
    background-image: url(../img/icons/iconmonstr-check-mark-16-32.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1em;
    height: 1em;
} 

.section .description p {
    display: inline-block;
    max-width: 65ch;
    font-size: 1.5em;
    line-height: 1.5;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    text-align: justify;
    color: #676767;
    
}

.section .description ul {
    margin-bottom: 3em;
    
}

.section .description li {
    margin-bottom: 1em;
    
}

p span.distinct-word {
    font-weight: bold;
    color: #FFA500;
}

.skills span, .moreover span {
    font-family: 'Open Sans Condensed', serif;
    font-weight: normal;
    color: #888;
}

.section .moreover {
    text-align: center;
}

.img-dancing-people {
    width: 100%;
    height: 15em;
    background-image: url(../img/other/Rectangle8.png);
    background-size: contain;
    background-repeat: no-repeat;

}
/* styles for o-nas.html */

.orangeBelt
{
    padding: 1em 0 1em 0;
    background-color: orange;
    width: 100%;
    color:red;
    
}

.headerText
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
    color:white;
}

#content {
	text-align: justify;
	margin: auto;
	font-size: 24px;
	padding: 50px 0 40px 0;
	min-height: 500px;
}

#contentAbout {
    max-width: 30em;
	text-align:center;
	margin: auto;
	font-size: 24px;
	padding: 50px 0 40px 0;
	min-height: 500px;
}

.img-contact
{
    border: 3px solid #ffa500;
    border-radius: 50%;
    transition: 0.5s;
}

.charDesc
{
    display: block;
    border-top: 0.1em solid orange;
    border-bottom: 0.1em solid orange;
    border-radius: 2em;
    font-weight: bold;
    padding: 3em 0 0 0;
    margin: 1em;
}

.charDesc > * + * {
    margin-bottom: 1em;
}

.contentButton {
    color: white;
    text-align: center;
}

.btn {
    border: 3px solid #ffa500;
    border-radius: 1em;
    background: none;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.orangebutton
{
    text-align: center;
    margin: auto;
    position: relative;
    color: #fff;
    z-index: 10;
    outline: none;
}

.orangebutton:hover
{
    color: #3f3f3f;
}

.btn::before
{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0px;
    color: white;
    background-color: #ffa500;
    z-index: -1;
    transition: 0.5s;
}

.orangebutton::before
{
    top: 0;
    border-radius:  0 0 50% 50%; 
    height: 180%;
}

.orangebutton:hover::before
{
    height: 0%;
}

.footer {
    width: 100%;
	padding: 1em;
	text-align: center;
    font-size: 28px;
    font-weight: bold;
    background-color: #272727;
    color: #FFF;
}


.info {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.5;
	font-size: 1em;
	font-weight: 300;
}

.contentCont
{
	font-size:12px;
    display: flex;
	margin: auto;
    padding: 1em;
	color: #000;
}

@media screen and (max-width: 63.25em) {
    .contentCont {
        flex-direction: column;
    }
}

.formTop
{
	text-align:center;
	padding: 0.5em;
    display: block;
    background-color: rgba(255,255,255,.21);
    border: 2px solid rgba(14,48,107,.21);
}

form
{
	text-align:left;
}

.formMid
{
	text-align:center;
}

.formMid input
{
	padding:0;
	margin:0;
	width:auto;
}

.formBot
{
	text-align:center;
}

.formTop input
{
    width: 90%;
    margin:10px;
    padding:0.5em;
    border: 2px solid #ddd;
}


textarea
{
    font-family: 'Arial', sans-serif;
    width: 90%;
    margin:10px;
    padding:0.5em;
    height:5em;
    border: 2px solid #ddd;
}

.slij
{   
	width: 50%;
	background-color: #ffa500;
	color: #fff;
}


.formHeader
{
	font-size:24px;
	padding:20px;
}

.charCont
{
	margin-left:10em;
}

@media screen and (max-width: 63.25em){
    .charCont
{
    margin-left: 0;
    margin: auto;
}
}

.danceText
{
    background: linear-gradient(to right, #3f3f3f 50%, #ff4000 50%, #ffa500);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    transition: 2s ease-out;
    user-select: none;
    cursor: pointer;
} 


.shadow {
    padding: 1em;
	background-image: url(../img/shattered/shattered_@2X.png);

	-moz-box-shadow: -35px 5px 45px rgba(0,0,0,75);
	-webkit-box-shadow: -5px 45px rgba(0,0,0,75);
	box-shadow: -25px 5px 45px rgba(0,0,0,75);
}


#wiki-form 
{
	padding: 50px;
    margin-left: 160px;
    
}

#wiki-form > * + * {
    margin-bottom: 1em;
}

.wiki-input
{
    width: 300px;
    background-color: #efefef;
    color: #666;
    border-radius: 5px;
    font-size: 10px;
    padding: 10px;
    box-sizing: border-box; 

}

.wiki-submit
{
	width: 300px;
	background-color: #FFA500;
	border: 5px solid #ddd;
	border-radius: 1em;
	font-size: 20px;
	color: #FFFFFF;
	padding: 10px;
	box-sizing: border-box; 
	cursor: pointer; 
	letter-spacing: 2px;
	border: 1px solid #ffa500;
	
}
.wiki-submit:hover
{
	background-color: #FFFFFF;
	color: #000000;
}


#term, #pods {
    text-align: justify;
}

#term 
{
	font-size: 25px;
}

#term h3 {
    margin-bottom: 1em;
}

#pods * + * {
    margin-bottom: 1.2em;
}

#pods 
{
    
	font-size: 20px;
	color: #000000;
	padding: 15px;
	margin-right: 150px;
	margin-left:150px;
	
}

#pods * + * {
    margin-bottom: 1.2em;
}

#pods h2 {
   margin-bottom: 1.2em;
 
}


/* --- NASZE SZKOLENIE --- */

.text-szkolenie, .title-szkolenie{
    text-align: justify;
}

.title-szkolenie {
    font-size: 1.2em;
    font-weight: 600;
}

.container-szkolenie > * {
    margin-bottom: 6em;
}

.container-szkolenie > * > *{
    margin-bottom: 1em;
}


.img-szkolenie {
    width: 100%;
    max-width: 400px;
    height: auto;
}