body {
	margin: 0;
	padding: 0;
	/* Background pattern from Subtle Patterns */
	background-image: url('../img/shattered/shattered_@2X.png');
	font-family: 'Open Sans Condensed', sans-serif;
}

::selection {
    background: #ffa500;
	color:white;
    text-shadow: none;
}

.page-wrapper {
	
}

.headerTop {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 2em -1em rgba(0,0,0,0.75);
}

.header-content-wrapper {
	width: 55em;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.nav {
    min-height: 3em;
    text-align: center;
    line-height: 50px;
}

.logo {
    text-align: center;
	cursor: pointer;
}

.items {
    float: right;
    padding: 0 0.5em 0 0.5em;
    margin-right: 1em;
}

.items:hover {
    text-decoration: underline;
    text-decoration-color: orange;
    cursor: pointer;
}

#itemsReg {
    float: right;
    padding: 0 0.5em 0 0.5em;
    margin-right: 1em;
    min-width: 5em;
    background-color:#ffa500;
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 1em;
}

#itemsReg:hover {
    background-color: #ee9400;
    cursor: pointer;
}

.LogoIt {
	color: #ffa500;
    font-size: 28px;
    text-transform:uppercase;
    font-weight:600;
}

h1 {
	text-align: center;
	font-weight: 300;
	font-size: 24px;
	color: #555;
	margin:0;
	padding:0;
}

.mainHeader
{
    font-size:62px;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, #3f3f3f 50%, #ff4000 50%, #ffa500);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.9s ease-out;
    user-select: none;
}

.mainHeader:hover
{
    background-position:-100%; 
}


main {
	margin-top: calc(50px + 1em);
}

.article {
	width: 55em;
	margin: auto;
}

#content {
	text-align: justify;
	margin: auto;
	font-size: 24px;
	padding: 50px 0 40px 0;
	min-height: 500px;
}

.contentButton {
    
    text-align: center;
}

.btn{
    border: 1px solid #ffa500;
    border-radius: 1em;
    background: none;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.orangebutton
{
    color: #fff;
}

.orangebutton:hover
{
    color: #ffa500;
}

.btn::before
{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0px;
    background: #ffa500;
    z-index: -1;
    transition: 0.5s;
}

.orangebutton::before
{
    top: 0;
    border-radius:  0 0 50% 50%; 
     height: 180%;
}

.orangebutton:hover::before
{
    height: 0%;
}

.logo a {
	text-decoration: none;
}

.info
{
	margin-bottom: 60px;
}

section {
	background: white;
	box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
}

.bottom {
	color: #555;
	padding: 15px;
	text-align: center;
	font-size: 28px;
}